@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf');
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $background-color;
    color: $font-color;
    font-family: $font-family;
}