.form-control {
    margin-bottom: $unit-3;

    label,
    input,
    textarea {
        display: block;
        width: 100%;
    }
    input,textarea {
        background-color: #333;
        font-size: 1.2em;
        border: 0;
        border-radius: $border-raidus;
        color: $font-color;
        padding: $unit-2;
        outline: none;
        resize: none;
    }
}